<div class="row mb-5">
    <div class="col-12 col-lg-6 col-xl">

        <!-- Value -->

        <div class="card">
            <div class="card-body">
                <div class="row align-items-center gx-0">

                    <div class="col">

                        <h6 class="text-uppercase text-muted mb-2">
                            Value
                        </h6>


                        <!-- Heading -->

                        <span class="h2 mb-0">
                            $24500
                        </span>


                        <!-- Badge -->

                        <span class="badge bg-success-soft mt-n1">
                            +3.5%
                        </span>

                    </div>

                    <div class="col-auto">

                        <!-- icon -->
                        <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>

                    </div>  

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl">

        <!-- Hours -->
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center gx-0">
                    <div class="col">

                        <!-- Title -->
                        <h6 class="text-uppercase text-muted mb-2">
                            Total hours
                        </h6>

                        <!-- Heading -->

                        <span class="h2 mb-0">
                            763.5
                        </span>
                    </div>

                    <div class="col-auto">

                        <!-- Icon -->
                        <span class="h2 fe fe-briefcase text-muted mb-0"></span>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl">

        <!-- Exit -->

        <div class="card">
            <div class="card-body">
                <div class="row align-items-center gx-0">

                    <div class="col">

                        <!-- Title -->

                        <h6 class="text-uppercase text-muted mb-2">
                            Exit %
                        </h6>

                        <!-- Heading -->

                        <span class="h2 mb-0"> 
                            35.5%
                        </span>
                    </div>

                    <div class="col-auto">

                        <!-- Chart -->

                        <div class="chart chart-sparkline">
                            <canvas class="chart-canvas" id="sparklineChart" width="75" height="35" style="display:block; box-sizing:border-box; height: 35px; width: 75px;"></canvas>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="col-12 col-lg-6 col-xl">

        <!-- Time -->

        <div class="card">
            <div class="card-body">
                <div class="row align-items-center gx-0">
                    <div class="col">

                        <!-- Title -->

                        <h6 class="text-uppercase text-muted mb-2">
                            Avg Time
                        </h6>

                        <!-- Heading -->

                        <span class="h2 mb-0">
                            2:37
                        </span>
                

                    </div>

                    <div class="col-auto">

                        <!-- Icon -->

                        <span class="h2 fe fe-clock text-muted mb-0"></span>

                    </div>

                </div>
            </div>
        </div>

    </div>











</div>